<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">  
  <listeners>
    <listener class-name="listeners.ListenerClass" />
   </listeners>
  <test name="Smoke">
    <classes>
      <class name="test.SearchResultPageTests"/>
    </classes>
  </test> <!-- Test -->
  <test name="Regression">
    <classes>
      <class name="test.HomePageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
